{% extends "layout.html" %}
{% from "macros/project.html" import humanize_timespan %}
{% block title %}Résumé | {{ super() }}{% endblock %}
{% block body %}
  <div class="hidden-print">
    <h1>{{ this.title }}</h1>
    {{ this.description }}
  </div>
  <div class="visible-print-block">
    <h1>Sunny Raj</h1>
    <p>systems researcher and programmer, open source contributor and an academic writer.</p>

    <table class="table table-sm-print">
      <tbody>
        <tr>
          <th scope="row">Web</th>
          <td>
            <a href="https://www.thesunnyraj.com/">www.thesunnyraj.com</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>
            <a href="mailto:sundaresan12@gmail.com">sundaresan12@gmail.com</a>
          </td>
        </tr>
        <tr>
          <th scope="row">GitHub</th>
          <td>
            <a href="https://github.com/SunnyRaj">github.com/SunnyRaj</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>Skills</h2>
  <table class="table table-sm-print">
    <tbody>
      <tr>
        <th scope="row">Languages</th>
        <td>
          C,
          <a href="https://isocpp.org/">C++</a>,
          <a href="https://www.python.org/">Python</a>,
          <a href="https://www.mathworks.com/">Matlab</a>
          <!-- SQL (<a href="https://www.postgresql.org/">PostgreSQL</a>, <a href="https://www.mysql.com/">MySQL</a>),
          <a href="http://www.regular-expressions.info/" title="Regular Expressions">RegEx</a>
          -->
        </td>
      </tr>
        <th scope="row">Tools</th>
        <td>
          <a href="https://git-scm.com/">Git</a>,
          <a href="https://www.latex-project.org/">LATEX</a>,
          <a href="http://www.gnuplot.info/">Gnuplot</a>,
          <a href="https://www.gnu.org/software/bash/">Bash</a>
        </td>
      </tr>
      <tr>
        <th scope="row">DevOps</th>
        <td>
          <a href="https://aws.amazon.com/" title="Amazon Web Services">AWS</a>,
          <a href="https://www.docker.com/">Docker</a>,
          <a href="https://www.chef.io/chef/">Chef</a>,
          <a href="http://brew.sh/">Homebrew</a>,
          <a href="http://www.openssh.com/">SSH</a>
        </td>
      </tr>
      <tr>
        <th scope="row">Testing</th>
        <td>
          <a href="https://en.wikipedia.org/wiki/Test-driven_development" title="Test-Driven Development">TDD</a>,
          <a href="https://github.com/google/googletest">Google Test</a>,
          <a href="https://travis-ci.org/">Travis CI</a>
        </td>
      </tr>
    </tbody>
  </table>

  {% set jobs = site.query('/resume').include_undiscoverable(True).all() %}
  <h2>Experience</h2>
  <ol class="resume-jobs list-unstyled">
  {% for job in jobs %}
    <li id="{{ job._id }}">
      <div class="title">
        {{ job.title }} at
        {% if job.website %}<a href="{{ job.website }}">{% endif %}
        {{ job.company }}
        {% if job.website %}</a>{% endif %}
      </div>
      <em>{{ humanize_timespan(job, true) }}</em>
      {{ job.description }}
    </li>
  {% endfor %}
  </ol>

  <h2>Education</h2>
  <ol class="resume-education list-unstyled">
    <li>
      <div class="title">Ph.D. in Computer Science</div>
      <p><a href="https://www.gwu.edu/">The George Washington University</a>, <em>2017</em></p>
    </li>
    <li>
      <div class="title">Certificate of Entrepreneurship</div>
      <p><a href="https://www.stanford.edu/">Stanford University</a>, <em>2012</em></p>
    </li>
    <li>
      <div class="title">M.S. in Computer Security and Information Assurance</div>
      <p><a href="https://www.gwu.edu/">The George Washington University</a>, <em>2011</em></p>
    </li>
    <li>
      <div class="title">M.S. in Computer Science</div>
      <p><a href="https://www.gwu.edu/">The George Washington University</a>, <em>2010</em></p>
    </li>
    <li>
      <div class="title">B.E. in Computer Science</div>
      <p><a href="https://www.annauniv.edu/">Anna University</a>, <em>2004 - 2008</em></p>
    </li>
  </ol>
{% endblock %}
